.small-box {
    max-width: 400px;
}

.dark-box {
    background-color: #333333;
}

.square-box {
    max-width: 600px;
    min-width: 600px;
    border: 1px solid #333;
}

body {
   p color: white;
}

.card {
    text-align: center;
}